# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ecom/frontend/node_modules
/ecom/frontend/.pnp
ecom/frontend/.pnp.js

# testing
/ecom/frontend/coverage

# production
ecom/frontend//build

# misc
ecom/frontend/.DS_Store
ecom/frontend/.env.local
ecom/frontend/.env.development.local
ecom/frontend/.env.test.local
ecom/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
